{% extends 'home/layout.html' %} {% block body %}
<!-- private section -->
<div class="section">
  <h2 id="scope">Public:</h2>
  <br />
  <div class="row">
    {% for post in allPosts %}
    <div class="row cardGroup">
      <div class="col-4">
        <div class="card" style="width: 20rem">
          <img src="/media/{{post.img}}" class="card-img-top" alt="loading" />
          <div class="card-body">
            <h5 class="card-title">{{post.title}}</h5>
            <p class="card-text">
              {{post.content| truncatechars:100}}
            </p>
            <a href="/blog/{{post.slug}}" class="btn btn-primary">See More</a>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
  </div>
</div>

<!-- comapny private section -->
<div class="section">
  <h2 id="scope">Comapny Private:</h2>
  <br />
  <div class="row">
    {% for post in allPosts %}
    <div class="row cardGroup">
      <div class="col-4">
        <div class="card" style="width: 20rem">
          <img src="https://images.unsplash.com/photo-1515879218367-8466d910aaa4?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2069&q=80" class="card-img-top" alt="loading" />
          <div class="card-body">
            <h5 class="card-title">{{post.title}}</h5>
            <p class="card-text">
              {{post.content| truncatechars:100}}
            </p>
            <a href="/blog/{{post.slug}}" class="btn btn-primary">See More</a>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
  </div>
</div>
<!-- public section -->
<div class="section">
  <h2 id="scope">Private:</h2>
  <br />
  <div class="row">
    <div class="row">
      {% for post in allPosts %}
      <div class="row cardGroup">
        <div class="col-4">
          <div class="card" style="width: 20rem">
            <img src="https://images.unsplash.com/photo-1515879218367-8466d910aaa4?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2069&q=80" class="card-img-top" alt="loading" />
            <div class="card-body">
              <h5 class="card-title">{{post.title}}</h5>
              <p class="card-text">
                {{post.content| truncatechars:100}}
              </p>
              <a href="/blog/{{post.slug}}" class="btn btn-primary">See More</a>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>

<!-- post button -->
<div>
  <a href="/post" class="btn" id="post"><i class="fa fa-plus"></i></a>
</div>

{% endblock %}
