{% extends 'home/layout.html' %}
{% block title %}home{% endblock %}
{% block body %}
    <!-- private section -->
    <div class="section">
      <h2 id="scope">Private:</h2><br>
      <div class="row">
          <div class="col-4">
              <div class="card" style="width: 20rem;">
                  <img src="./img/logo-min.png" class="card-img-top" alt="loading">
                  <div class="card-body">
                      <h5 class="card-title">Bug Title</h5>
                      <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque quas
                          ipsum </p>
                      <a href="#" class="btn btn-primary">Continue reading</a>
                  </div>
              </div>
          </div>
          <div class="col-4">
              <div class="card" style="width: 20rem;">
                  <img src="./img/logo-min.png" class="card-img-top" alt="loading">
                  <div class="card-body">
                      <h5 class="card-title">Bug title</h5>
                      <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt
                          doloremque quasi, quas deserunt invento</p>
                      <a href="/blog/blogpost" class="btn btn-primary">Continue reading</a>
                  </div>
              </div>
          </div>
          <div class="col-4">
              <div class="card" style="width: 20rem;">
                  <img src="./img/logo-min.png" class="card-img-top" alt="loading">
                  <div class="card-body">
                      <h5 class="card-title">Bug title</h5>
                      <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima vero
                          corporis </p>
                      <a href="#" class="btn btn-primary">Continue reading</a>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <div>
      <button id="post">+</button>
  </div>
  <!-- comapny private section -->
  <div class="section">
      <h2 id="scope">Comapny Private:</h2><br>
      <div class="row">
          <div class="col-4">
              <div class="card" style="width: 20rem;">
                  <img src="./img/logo-min.png" class="card-img-top" alt="loading">
                  <div class="card-body">
                      <h5 class="card-title">Bug Title</h5>
                      <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque quas
                          ipsum </p>
                      <a href="#" class="btn btn-primary">Continue reading</a>
                  </div>
              </div>
          </div>
          <div class="col-4">
              <div class="card" style="width: 20rem;">
                  <img src="./img/logo-min.png" class="card-img-top" alt="loading">
                  <div class="card-body">
                      <h5 class="card-title">Bug title</h5>
                      <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt
                          doloremque quasi, quas deserunt invento</p>
                      <a href="#" class="btn btn-primary">Continue reading</a>
                  </div>
              </div>
          </div>
          <div class="col-4">
              <div class="card" style="width: 20rem;">
                  <img src="./img/logo-min.png" class="card-img-top" alt="loading">
                  <div class="card-body">
                      <h5 class="card-title">Bug title</h5>
                      <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima vero
                          corporis </p>
                      <a href="#" class="btn btn-primary">Continue reading</a>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <!-- public section -->
  <div class="section">
      <h2 id="scope">Public:</h2><br>
      <div class="row">
          <div class="col-4">
              <div class="card" style="width: 20rem;">
                  <img src="./img/logo-min.png" class="card-img-top" alt="loading">
                  <div class="card-body">
                      <h5 class="card-title">Bug Title</h5>
                      <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque quas
                          ipsum </p>
                      <a href="#" class="btn btn-primary">Continue reading</a>
                  </div>
              </div>
          </div>
          <div class="col-4">
              <div class="card" style="width: 20rem;">
                  <img src="./img/logo-min.png" class="card-img-top" alt="loading">
                  <div class="card-body">
                      <h5 class="card-title">Bug title</h5>
                      <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt
                          doloremque quasi, quas deserunt invento</p>
                      <a href="#" class="btn btn-primary">Continue reading</a>
                  </div>
              </div>
          </div>
          <div class="col-4">
              <div class="card" style="width: 20rem;">
                  <img src="./img/logo-min.png" class="card-img-top" alt="loading">
                  <div class="card-body">
                      <h5 class="card-title">Bug title</h5>
                      <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima vero
                          corporis </p>
                      <a href="#" class="btn btn-primary">Continue reading</a>
                  </div>
              </div>
          </div>
      </div>
  </div>

{% endblock %}
