{% extends 'home/layout.html' %} {% block body %}

<div class="pop">
  <h1>Write About you bug!</h1>
  <form action="/post/" method="POST">
    {% csrf_token %}
  <div class="postTitle">
    <label for="postTitle">Title :</label>
    <input type="text" name="title" id="title" placeholder="title" />
  </div>
  <div class="author">
    <label for="postTitle">Author :</label>
    <input type="text" name="author" id="author" placeholder="author" />
  </div>
  <div class="Description">
    <label for="content">Description :</label>
    <pre><textarea
      name="content"
      id="content"
      cols="30"
      rows="10"
    ></textarea>
    </pre>
  </div>

  <input type="file" name="chooseFile" id="chooseFile" />
  <button type="submit" class="btn btn-primary">Submit</button>
</div>
</form>

{% endblock %}
