* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    background-color: whitesmoke;
    line-height: 1rem;
    overflow-x: hidden;
}

#name {
    text-align: center;
    background-color: #563d7c;
    color: whitesmoke;
    margin-bottom: 0;
    padding: 15px;
    font-size: 20px;
}

#search {
    margin-left: 59%;
}

#navName {
    font-weight: bold;
    color: whitesmoke;
}

.nav-item {
    margin: none;
    height: 40px;
}

#nav {
    background-color: #7952b3;
}

.navbar {
    padding: 0rem 0rem;
}

.navbar-light .navbar-nav .nav-link,
.navbar-light .navbar-nav .active>.nav-link,
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .show>.nav-link {
    color: whitesmoke;
}

.btn {
    color: whitesmoke;
    background-color: #563d7c;
}

.btn:hover {
    color: #212529;
    background-color: #7f81eb;
    text-decoration: none;
}

#scope {
    padding-top: 2rem;
}

.section {
    padding-left: 4rem;
}

.card {
    background-color: #fefaf1;
}

#post {
    height: 60px;
    width: 60px;
    background: #7952b3;
    margin: 2rem;
    position: fixed;
    float: right;
    right: 30px;
    bottom: 10px;
    text-align: center;
    color: #fff;
    z-index: 2;
    font-size: 30px;
    border-radius: 50%;
    cursor: pointer;
}

#post:hover {
    color: #212529;
    background-color: #7f81eb;
    text-decoration: none;
}

.card-img-top {
    height: 10rem;
    width: 184.579px;
}

#seeMore {
    /* float: right;
    right: 100px; */
    /* align-items: center; */
    position: relative;
}

.dropProfile {
    padding: 1rem;
}

.dropMenu {
    transform: translateX(-50%);
}

.form-control {
    width: 10rem;
}